/* Center the login form */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

/* Styling the login box */
.auth-box {
    padding: 2rem;
    width: 450px;
    text-align: center;
}

/* Header style */
.auth-box h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
}

/* Input fields */
.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

/* Login button */
.auth-box button {
    width: 100%;
    padding: 12px;
    background: #1d1d1d;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px 0;
}

.auth-box button:hover {
    background: #424242;
}



